html {
  scroll-behavior: smooth;
}

body {
  background: #e9ecef !important;
}

.nav-background {
  background-color: #072942;
  background-color: #006aa9;
  background-color: #006241;
  transition: 0.3s;
}

.transparent-bg {
  background: transparent;
}

.jumbotron.jumbotron-fluid.banner-image {
  background-color: #006241;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/bg.jpg");
  height: 50%;
  background-attachment: fixed; /* for parallax */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  text-align: center;
  color: white;
}

.image-gallery {
  position: relative;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 20px 0;
}

.scroll-container div {
  scroll-snap-align: center;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.button-modal {
  position: absolute;
  display: block;
  z-index: 101;
  top: 40%;
}

.button-right {
  right: -14px;
}

.button-left {
  left: -14px;
  opacity: 0;
}

.button-top {
  opacity: 1;
}

.arrow-button {
  height: 42px;
  width: 42px;
  background-color: #620021;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.arrow-button:hover {
  transform: scale(1.1);
}

.right-arrow,
.left-arrow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 28px;
  height: 28px;
}

img.gallery-item {
  transition: 0.3s;
  width: 250px;
  margin: 0 10px;
  cursor: pointer;
  box-shadow: 0 0 7px 1px rgb(0 0 0 / 98%);
}

.gallery-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content.image-modal {
  background: transparent;
  border: 0;
  justify-content: center;
  align-items: center;
}

#modalImg {
  width: 100%;
}

.modal-backdrop.show {
  opacity: 0.85 !important;
}

.modal-left {
  opacity: 1;
  left: -60px;
}

.modal-left .arrow-button {
  height: 60px;
  width: 60px;
}

.modal-left .arrow-button .left-arrow {
  height: 40px;
  width: 40px;
}

.modal-right {
  opacity: 1;
  right: -60px;
}

.modal-right .arrow-button {
  height: 60px;
  width: 60px;
}

.modal-right .arrow-button .right-arrow {
  height: 40px;
  width: 40px;
}

.modal-top {
  opacity: 1;
  position: static;
}

.modal-top .arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-top .arrow-button .close-btn {
  color: white;
  font-size: 22px;
}

.section-underline {
  margin: 7px 0 24px;
  border-top: 2px solid #006241;
  width: 40%;
}

.about-container {
  background: #efefef;
  border-radius: 10px;
  box-shadow: 0 0 9px 1px #333;
}

.about-content {
  color: #072942;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  order: 1;
}

.home-right {
  order: 2;
}

.about-img {
  float: right;
  width: 600px;
  margin: 10px 20px;
}

#contact {
  background-color: #006241;
  /*background-image: url(./images/wave_bg.png);*/
  background-repeat: no-repeat;
  background-position: 10%;
}

.modal-body.image-modal-body {
  width: 60%;
  padding-bottom: 0;
}

.modal-header.image-modal-header {
  color: white;
  border: 0;
  width: 60%;
  padding: 0 1rem;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .transparent-bg {
    background: #006241;
  }
  #home {
    padding-top: 80px;
  }
  .home-left {
    order: 2;
  }
  .home-right {
    order: 1;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .about-img {
    float: none;
    width: 250px;
    margin: 10px 0;
  }
  .modal-left {
    left: 30%;
    top: 100%;
  }
  .modal-left .arrow-button {
    height: 50px;
    width: 50px;
  }
  .modal-left .arrow-button .left-arrow {
    height: 40px;
    width: 40px;
  }
  .modal-right {
    right: 30%;
    top: 100%;
  }
  .modal-right .arrow-button {
    height: 50px;
    width: 50px;
  }
  .modal-right .arrow-button .right-arrow {
    height: 40px;
    width: 40px;
  }
  .modal-body {
    width: unset;
  }
}
